
.imgsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    position: relative;
}

.zoom {
    display: none;
    right: 20px;
    top: 20px;
    font-size: 2rem;
    position: absolute;
}

.imgList {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}


.currentImg {
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #cbc5c563;
    overflow: hidden;
}

.currentImg:hover .zoom {
    display: block;
}

.big {
    width: 100%;
    height: 100%;
}

.small {
    cursor: pointer;
    transition: all 0.8s ease;
    border-radius: 8px;
    height: 58px;
    width: 58px;
    border: 1px solid var(--hvr-clr);
}

.small:hover {
    opacity: 0.7;
    border: none;
}

@media (min-width : 768px) {
    .imgsContainer {
        grid-template-columns: 80px auto;
    }

    .imgList {
        flex-direction: column;
    }
}