

.imgsContainer {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 1rem;
    position: relative;
}

.zoom {
    display: none;
    right: 20px;
    top: 20px;
    font-size: 2rem;
    position: absolute;
}

.imgList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.currentImg {
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #cbc5c563;
    overflow: hidden;
}

.currentImg:hover .zoom {
    display: block;
}

.big {
    width: 100%;
    height: 100%;
}

.small {
    cursor: pointer;
    transition: all 0.8s ease;
    border-radius: 8px;
    height: 80px;
    width: 100%;
    border: 1px solid var(--hvr-clr);
}

.small:hover {
    opacity: 0.7;
    border: none;
}

/* details css */

.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.detailsContainer section {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

input[type='button'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
}

