.boxes {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 2%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem;
    min-height: 140px;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.box h2 {
    padding-left: 1rem;
}

.graphs {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items:center;
    gap: 1%;
    min-height: fit-content;
}

.graphContainer {
    width: 100%;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.graphead {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 560px) {
    .graphs {
        grid-template-columns: 1fr 1fr;
    }

    .boxes {
        grid-template-columns: repeat( 4, 1fr);
    }
}