

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto;
}

.form a {
    font-weight: 800;
    color: var(--hvr-clr);
}

.form a:hover {
    color: var(--lgt-clr)
}

@media (min-width: 680px ) {
    .form {
        width: 640px;
    }
}