.cardWrapper, .cardWrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    max-height: 450px;
    width: 100%;
    position: relative;
    font-size: 0.7rem;
    padding: 0.2em;
}

.cardWrapper2 {
    max-height: 290px;
    flex-flow: column wrap;
}

.cardWrapper2 p, .cardWrapper2 div {
    width: 49%;
}

.img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.img2 {
    width: 49%;
    height: fit-content;
}

.promo {
    background: var(--hvy-clr, red);
    color: white;
    padding: 0.1em;
    position: absolute;
    top: 28px;
    left: 10px;
}

.btnSection {
    display: flex;
    place-items: center;
    gap: 14px;
}

.btn,
.cbtn {
    padding: 5px;
    background: rgb(85, 0, 255);
    color: white;
}

.cbtn {
    background: var(--act-clr);
}

.prices {
    font-size: 1.3em;
    font-weight: 700;
}

.realprice {
    text-decoration: line-through;
    color: red;
    margin-left: 8px;
}