

.expo {
    display: grid;
    grid-template-columns: repeat(6, 1fr );
    grid-template-rows: repeat( 4, 70px );
    justify-content: center;
    align-items: start;
}

.expo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    transition: all 0.6s ease-in-out;
}

.expo a:hover {
    opacity: 0.7;
    transition: all 0.6s ease-in-out;
}

.a {
    height: 100%;
    grid-area: 1/1/ span 2/ span 2 ;
    background: var(--act-clr);
}

.b {
    height: 100%;
    grid-area: 3/1/ span 2/ span 2 ;
    background: var(--hvy-clr);
}

.c {
    height: 100%;
    grid-area: 1 / 3 / span 4/ span 2 ;
    background: var(--lgt-clr);
}

.d {
    height: 100%;
    grid-area: 1 / 5 / span 2/ span 4 ;
    background: var(--hvr-clr);
}

.e {
    height: 100%;
    grid-area: 3 / 5 / span 2/ span 1 ;
    background: var(--nut-clr);
}

.f {
    height: 100%;
    grid-area: 3 / 6 / span 2/ span 1 ;
    background: var(--act-clr);
}

.homeList {
    display: grid;
    grid-template-columns: repeat( 2 , 1fr );
    gap: 0.5rem;
    margin: 2rem auto;
}

@media (min-width: 768px ) {
    .homeList {
        grid-template-columns: repeat( 3, 1fr);
    }
}

@media (min-width: 1024px ) {
    .homeList {
        grid-template-columns: repeat( 4, 1fr);
    }
}