.details {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

@media (min-width: 768px) {
    .details {
        grid-template-columns: 1fr 1.2fr;
    }
}