

.main {
    display: grid;
    grid-template-columns: 1fr;
}



@media (min-width: 768px ) {
    .main {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

@media (min-width: 1024px ) {
    .main {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}