.main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem auto;
    position: relative;
}

.asides {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navAside {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
    height: fit-content;
}

.main h2 {
    border-bottom: 1px solid var(--nuy-clr, #ddd);
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: 170px 1fr;
    }

    .navAside {
        flex-flow: column nowrap;
        align-items: flex-end;
        position: sticky;
        top: 10px;
        left: 0;
    }
}