.foot {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 100%;
    padding: 0.9rem var(--pad, 1rem);
    margin: 0 auto;
    background: var(--hvy-clr, red);
    color: whitesmoke;
}

.foot a {
    display: block;
    margin-right: 5px;
    text-transform: capitalize;
}

.section,
.brand {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
}

.section h3, .brand h2 {
    color: var(--act-clr, #fff);
    text-transform: capitalize;
}

.plain {
    display: flex;
    gap: 1.2rem;
}

.texto {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background: var(--hvy-clr, red);
    text-align: center;
    color: whitesmoke;
}

.footer {
    display: flex;
    flex-flow: column;
    max-width: var(--max-wd, 1300px);
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    padding: 1rem;
}

@media (min-width: 560px) {
    .foot {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .foot {
        grid-template-columns: repeat(4, minmax( 190px , 290px));
    }
}