:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --max-wd: 1200px;
  --pad: 1em;

  --hvy-clr: #5d4350;
  --act-clr: #E32F56;
  --lgt-clr: #D3BCCC;
  --nut-clr: #E8D7F1;
  --hvr-clr: #4A306D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: transform 0.25s ease;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--act-clr, #646cff);
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 12px;
  line-height: 1.5;
}

h1 {
  font-size: 2.2em;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--hvr-clr);
  position: relative;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  background: transparent;
  color: inherit;
  border: none;
  text-transform: capitalize;
  transition: all 0.6s ease;
}

button:hover {
  background: var(--hvr-clr);
  color: var(--lgt-clr);
}

header {
  width: 100%;
  background: var(--hvy-clr);
  color: var(--act-clr);
  min-height: 240px;
}

main {
  max-width: var(--max-wd, 1200px);
  width: 100%;
  margin: 1rem auto;
  padding: 0 var(--pad, 1rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul {
  list-style-type: none;
}

label {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  gap: 0.5rem;
  height: fit-content;
}

input, select {
  height: 30px;
  width: 100%;
  border: 1px solid var(--lgt-clr);
  border-radius: 6px;
  padding-left: var(--pad);
}

textarea {
  border-radius: 6px;
  padding: 10px;
}

label:has(input[type='checkbox'], input[type='radio']) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

input[type='checkbox'],
input[type='radio'] {
  height: 15px;
  width: 15px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  width: 100%;
}

form button {
  padding: 0.7rem;
  background: var(--act-clr);
  color: white;
  border-radius: 6px;
}

form button:hover {
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 13px;
  }
}

.sph {
  width: 100%;
  text-align: center;
}

.sph:after {
  content: '';
  position: absolute;
  top: calc(100% + 17px);
  left: calc(50% - 65px);
  background: var(--act-clr);
  height: 2px;
  width: 130px;
  opacity: 0.6;
}

.sph::before {
  content: url('./assets/spa.svg');
  position: absolute;
  top: 50%;
  left: calc(50% - 12px);
  height: 34px;
  width: 34px;
  font-size: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.deco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deco::after {
  content: url('./assets/spa.svg');
}

.deco::before {
  content: url('./assets/spa.svg');
}